@import url("https://fonts.googleapis.com/css2?family=Pragati+Narrow&family=Roboto+Mono:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  background-color: #e2cfc1;
  min-height: 100vh;
}
.AppLoading {
  background-color: #e2cfc1;
  height: 100vh;
  width: 100vw;
}
.Box {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
  justify-content: center;
}
.CardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15rem;
  margin-top: 3%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: rgb(250, 235, 228);
  background: linear-gradient(
    0deg,
    rgba(250, 235, 228, 1) 0%,
    rgba(210, 194, 179, 1) 100%
  );
  transition: 0.2s;
}
.CardContainer:hover {
  width: 15rem;
  margin-top: 3%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background: linear-gradient(
    0deg,
    rgba(250, 235, 228, 1) 0%,
    rgba(210, 194, 179, 1) 100%
  );
  transition: 0.2s;
}
.loadingCard {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  background: linear-gradient(
    90deg,
    rgba(205, 140, 120, 1) 0%,
    rgba(202, 140, 99, 1) 100%
  );
}
.textContainer {
  padding: 5%;
}

.showMore {
  color: #df7128;
  text-align: end;
  font-size: smaller;
  cursor: pointer;
}
/* Colapse Text */

.longText {
  max-height: 50px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: inline-block;
  transition: max-height 0.4s;
  font-family: "Pragati Narrow", sans-serif;
  color: #857770;
  line-height: 1.5em;
}
.expanded {
  max-height: 50rem;
  transition: max-height 2s;
}

.title {
  display: inline-block;
  position: relative;
  color: #df7128;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Roboto Mono", monospace;
  user-select: none;
  margin-bottom: 10px;
}

.category {
  color: #cf3801;
  font-weight: 600;
  font-size: small;
}

.title:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #df7128;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.CardContainer:hover .title:after {
  transform: scaleX(1);
  transform-origin: bottom left;
  cursor: pointer;
}
.imageBox {
  overflow: hidden;
  width: 100%;
}
.image {
  max-width: 100%;
  transition: all 0.3s;
  display: block;
  width: 100%;
  height: auto;
  transform: scale(1);
  background: linear-gradient(
    90deg,
    rgba(205, 140, 120, 1) 0%,
    rgba(202, 140, 99, 1) 100%
  );
}
.image:hover {
  cursor: pointer;
}

.CardContainer:hover .image {
  transform: scale(1.1);
}

/* Like & Dislike */

.ratioContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5%;
}
.percentages {
  display: flex;
  justify-content: space-between;
}

.LikeButton {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 5px 10px;
  border: 1px solid #cf3801;
  color: #cf3801;
  transition: 0.2s;
}
.LikeButton:hover {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 5px 10px;
  border: 1px solid #ff531f;
  color: white;
  background-color: #ff531f;
  transition: 0.2s;
}
.LikeButtonPressed {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 5px 10px;
  border: 1px solid #cf3801;
  background-color: #cf3801;
  color: white;
  transition: 0.2s;
}

.DislikeButton {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 5px 10px;
  border: 1px solid #9ca3af;
  color: #9ca3af;
  border-left: none;
  transition: 0.2s;
}

.DislikeButton:hover {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 5px 10px;
  border: 1px solid #cdd3dd;
  color: white;
  border-left: none;
  background-color: #cdd3dd;
  transition: 0.2s;
}

.DislikeButtonPressed {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 5px 10px;
  border: 1px solid #9ca3af;
  color: white;
  border-left: none;
  background-color: #9ca3af;
  transition: 0.2s;
}
.ReactButtons {
  display: flex;
}
.deleteButton {
  background-color: #cf3801;
  color: white;
  width: 100%;
  font-size: smaller;
  transition: 0.2s;
}
.deleteButton:hover {
  padding-top: 5px;
}

/* Pagination */

.paginationContainer {
  display: flex;
  gap: 10px;
  align-items: end;
  margin: auto;
  width: fit-content;
  padding: 2% 0%;
}

.showButton4 {
  background-color: white;
  border: 1px solid #d1d5db;
  padding: 8px;
  color: #6b7280;
  font-size: smaller;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: 0.2s;
}
.showButton8 {
  background-color: white;
  border: 1px solid #d1d5db;
  border-left: none;
  border-right: none;
  padding: 8px;
  color: #6b7280;
  font-size: smaller;
  transition: 0.2s;
}
.showButton12 {
  background-color: white;
  border: 1px solid #d1d5db;
  padding: 8px;
  color: #6b7280;
  font-size: smaller;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: 0.2s;
}

.showButton4:hover {
  background-color: #f3f4f5;
  border: 1px solid #d1d5db;
  color: #384152;
}
.showButton8:hover {
  background-color: #f3f4f5;
  border: 1px solid #d1d5db;
  border-left: none;
  border-right: none;
  color: #384152;
}
.showButton12:hover {
  background-color: #f3f4f5;
  border: 1px solid #d1d5db;
  color: #384152;
}

.showButton4active {
  background-color: #384152;
  border: 1px solid #384152;
  padding: 8px;
  color: #f3f4f5;
  font-size: smaller;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: 0.2s;
}
.showButton8active {
  background-color: #384152;
  border: 1px solid #384152;
  border-left: none;
  border-right: none;
  padding: 8px;
  color: #f3f4f5;
  font-size: smaller;
  transition: 0.2s;
}
.showButton12active {
  background-color: #384152;
  border: 1px solid #384152;
  padding: 8px;
  color: #f3f4f5;
  font-size: smaller;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: 0.2s;
}
.showButton4Disabled {
  background-color: #f3f4f5;
  opacity: 0.5;
  border: 1px solid #d1d5db;
  padding: 8px;
  color: #6b7280;
  font-size: smaller;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: 0.2s;
  cursor: auto;
}

.buttonDisabled8 {
  background-color: #f3f4f5;
  opacity: 0.5;
  border: 1px solid #d1d5db;
  border-left: none;
  border-right: none;
  padding: 8px;
  color: #6b7280;
  font-size: smaller;
  transition: 0.2s;
  cursor: auto;
}
.buttonDisabled12 {
  background-color: #f3f4f5;
  opacity: 0.5;
  border: 1px solid #d1d5db;
  padding: 8px;
  color: #6b7280;
  font-size: smaller;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: 0.2s;
  cursor: auto;
}

/* DropDown */

.buttons-container {
  display: flex;
  justify-content: center;
}
.button {
  background-color: white;
  border: 1px solid #d1d5db;
  color: #384152;
  margin: 10px 5px;
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: smaller;
}

.button:hover {
  background-color: #4b566b;
  border: 1px solid #4b566b;
  padding: 8px;
  color: white;
}

.active {
  background-color: #384152;
  border: 1px solid #384152;
  padding: 8px;
  color: #f3f4f5;
  font-size: smaller;
}
